<h1>Calendar</h1>

<div class="row">
	<div class="col-md-6">
		<form class="calendar-box"> 
		<!-- Calendar input using Datepicker -->
 			<p><h4>Enter Date:</h4> <input type="text" id="calendar" name="searchDate">
 			<input type="hidden" id="alt_date" name="altDate">
 			</p>
 			<p><input type="submit" class="btn btn-primary" value="I want karaoke!" /></p>
		</form>
		<div class="well">
		<!-- Displays all Karaoke events matching date selected -->
			<% if (venues.length > 0) { %>
			<h3>Karaoke Happening <%= date %></h3>
			<h5>Venue | Neighborhood | Time </h5><hr>
				<% venues.forEach(function(venue) { %>
					<a href="http://www.thestranger.com/<%= venue.link %>"><%= venue.venue %></a>, <%= venue.neighborhood %> - <%= venue.date %>
					<br /><hr>
				<% }); %>
			<% } %>
		</div>
	</div>
	<div class="col-md-6">
	<!-- Featured Karaoke venue -->
		<div class="calendar-featured">
			<a href="http://themonkeypub.com"><img src="/images/monkey-pub.png" target="_blank"></a>
			<h4 class="desc"><span>Featured Venue: The Monkey Pub</span></h4>
		</div>
	</div>
</div> 



