<h1>Calendar</h1>

<form>
 <p>Enter Date: <input type="text" id="calendar" name="searchDate"></p>
 <p><input type="submit" value="I want karaoke!" /></p>
</form>

<div class="well">

<% if (venues.length > 0) { %>
<p>
<h2>Karaoke Happening <%= date %></h2>
<h3>Venues | Times </h3>
	<% venues.forEach(function(venue) { %>
		<a href="http://www.thestranger.com/<%= venue.link %>"><%= venue.venue %></a>, <%= venue.neighborhood %> - 	
		<%= venue.date %>
		<br /><hr>
	<% }); %>
</p>
<% } %>
</div>

